SUBSTACK_FEEDS=https://newsletter.pragmaticengineer.com/feed
SUBSTACK_SESSION_COOKIE=s%3A...
KINDLE_EMAIL=name@kindle.com
SENDER_EMAIL=you@gmail.com
SENDER_PASSWORD=app-password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
POLL_INTERVAL_MINUTES=30
