# App Config
SENDER_EMAIL=sender@gmail.com
SENDER_PASSWORD=app-password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
POLL_INTERVAL_MINUTES=30

# User Config
KINDLE_EMAIL=name@kindle.com
FEEDS=https://newsletter.pragmaticengineer.com/feed
# Only needed for paid Substack content
SUBSTACK_SESSION_COOKIE=s%3A...
